<ion-header></ion-header>
<ion-content [fullscreen]="true" padding class="vertical-center">
  <div class="container">
    <div class="back-button">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card">
        <div>
          <h2 class="title">Macbus</h2>
          <p class="subtitle">Iniciar Sesión</p>
        </div>
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-list>
              <div class="item">
                <ion-item>
                  <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
                  <ion-input
                    label="Email"
                    labelPlacement="floating"
                    placeholder="Email"
                    formControlName="email"
                    type="email"
                    required>
                  </ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                  El email es requerido
                </ion-note>
                <ion-note color="danger" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
                  El email es inválido
                </ion-note>
              </div>
              <div class="item">
                <ion-item>
                  <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
                  <ion-input
                    label="Contraseña"
                    labelPlacement="floating"
                    placeholder="*****"
                    formControlName="password"
                    [type]="showPassword ? 'text' : 'password'"
                    required>
                  </ion-input>
                  <ion-button 
                    fill="clear" 
                    slot="end" 
                    (click)="togglePasswordVisibility()">
                    <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" color="medium"></ion-icon>
                  </ion-button>
                </ion-item>
                <ion-note color="danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                  La contraseña es requerida
                </ion-note>
              </div>
            </ion-list>
            <ion-button 
            type="submit" 
            class="btn">
            Ingresar
          </ion-button>
          </form>
        </div>
    </div>
  </div>
</ion-content>
