@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
  }

  .back-button ion-icon {
    font-weight: bold; 
    font-size: 24px; 
    color: black;
  }

  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;  
    overflow-y: scroll;
  }
  .card{
    width: 100%;
    margin: 16px 32px;
  }
  .title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: bold;
  }

  .subtitle {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
    color: black;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  ion-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  ion-note {
    margin-left: 16px;
    font-size: 12px;
  }

  ion-button {
    margin-top: 20px;
    text-transform: none;
  }

  .btn {
    --background: black; 
    --color: white;
    --border-radius: 8px; 
    --padding-top: 15px;
    --padding-bottom: 15px; 
    font-weight: bold; 
    font-size: 16px; 
    letter-spacing: 1px; 
  }