@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
  }

  .back-button ion-button {
    --color: white;
  }
  .back-button ion-icon {
    font-weight: bold; 
    font-size: 24px; 
  }

  ion-card-header{
    display: flex;
    flex-direction: column;
  }
  .logo{
    margin-top: 20vh;
  }
  .title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
  }
  .subtitle {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
    color: black;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  ion-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  ion-note {
    margin-left: 16px;
    font-size: 12px;
  }

  ion-button {
    text-transform: none;
  }

  .btn {
    --background: black; 
    --color: white;
    --border-radius: 8px; 
    --padding-top: 12px;
  --padding-bottom: 12px; 
    font-weight: bold; 
    font-size: 16px; 
    letter-spacing: 1px; 
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    --background: #333; 
  }
  .wave-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .wave-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }