
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list [formGroup]="loginForm">
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"/>
          <div *ngIf="loginForm.controls['email'].errors?.['required']">El email es requerido</div>
          <div *ngIf="loginForm.controls['email'].hasError('email')">El email es invalido</div>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" placeholder="*****" formControlName="password"/>
          <div *ngIf="loginForm.controls['password'].errors?.['required']">La contraseña es requerido</div>
        </ion-item>
        <ion-item>
          <ion-button (click)="onSubmit()" size="large">Enviar</ion-button>
          <ion-button [routerLink]="['/register']" size="large">Registrarse</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
