<ion-header></ion-header>
<ion-content [fullscreen]="true" padding class="vertical-center">
  <div class="container">
    <img src="assets/img/wave-top.svg" class="wave-top">
    <div class="back-button">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="logo">
      <h1 class="title">Macbus</h1>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="subtitle">Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <div class="item">
              <ion-item>
                <ion-input
                  label="Email"
                  labelPlacement="floating"
                  placeholder="Email"
                  formControlName="email"
                  type="email"
                  required>
                </ion-input>
              </ion-item>
              <ion-note color="danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                El email es requerido
              </ion-note>
              <ion-note color="danger" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
                El email es inválido
              </ion-note>
            </div>
            <div class="item">
              <ion-item>
                <ion-input
                  label="Contraseña"
                  labelPlacement="floating"
                  placeholder="*****"
                  formControlName="password"
                  type="password"
                  required>
                </ion-input>
              </ion-item>
              <ion-note color="danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                La contraseña es requerida
              </ion-note>
            </div>
          </ion-list>
          <ion-button 
          type="submit" 
          expand="block" 
          fill="solid" 
          class="btn">
          Iniciar Sesión
        </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <img src="assets/img/wave.svg" class="wave-bottom">
  </div>
</ion-content>
