<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-title class="logo-title" (click)="openMenu()">Macbus</ion-title>
  </ion-toolbar>

  <div class="nav-options">
    <div class="button-inner">
      <ion-button class="opcion" fill="clear" size="large" (click)="getStops()">
        <ion-icon slot="icon-only"  name='location-outline'></ion-icon>
      </ion-button>
      <ion-label>Paradas</ion-label>
    </div>
    <div class="button-inner">
      <ion-button class="opcion" fill="clear" size="large" (click)="getRoutes()">
        <ion-icon slot="icon-only"  name="bus-outline"></ion-icon>
      </ion-button>
      <ion-label>Lineas</ion-label>
    </div>
  </div>

  <ion-list lines="full">
    <ion-list-header>Recientes</ion-list-header>
    <ion-item *ngFor="let item of recentStops$ | async">
      <ion-icon name="location-outline" slot="start" color="dark"></ion-icon>
      <ion-label>
        <h3>{{ item.name }}</h3>
        <p>{{ getTimeAgo(item.timestamp)}}</p>
      </ion-label>
      <div class="options">
        <ion-button shape="round" fill="clear" size="small" (click)="getStopTimes(item.id, item.name)">
          <ion-icon name="open-outline" color="dark" size="small"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
