<ion-header>
  <ion-toolbar>
    <ion-title>Lineas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of busRoutes">
      <ion-avatar>
        <ion-icon name="bus-outline" color="dark" size="small"></ion-icon>
      </ion-avatar>
      <ion-label class="scrolling-text">
        <h2><span>{{item.shortName}}</span> {{item.longName}}</h2>
      </ion-label>
      <ion-button shape="round" fill="clear" (click)="openBusRouteMap(item.longName)">
        <ion-icon name="search-outline" color="dark" size="small"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
