<ion-header>
  <ion-toolbar>
    <ion-title class="title">Lineas de colectivos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <ion-card class="card" *ngFor="let item of busRoutes">
        <ion-label>
          <span> <ion-icon name="bus-outline" color="dark" class="bus"></ion-icon></span>
        </ion-label>
        <ion-label>
          <span>{{item.longName}}</span>
        </ion-label>
          <ion-item>
            <ion-button  shape="round" fill="clear" (click)="getTrips(item.longName)">
              <ion-icon name="time-outline" color="dark" size="small"></ion-icon>
            </ion-button>
            <ion-button shape="round" fill="clear" (click)="openBusRouteMap(item.longName)">
              <ion-icon name="search-outline" color="dark" size="small"></ion-icon>
            </ion-button>
          </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
