<ion-header>
  <ion-toolbar>
    <div class="stop">
      <ion-icon name="location" color="dark" size="small"></ion-icon>
      <p>{{stopName}}</p>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" color="dark" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <ion-card *ngFor="let st of stopTimes" class="card">
      <div class="content">
        <div class="detail">
          <div class="time">
            <ion-icon name="time-outline" color="dark" size="small"></ion-icon>
            <span>{{st.arrivalTime}}</span>
          </div>
          <div class="route">
            <ion-icon name="bus-outline" color="dark" size="small"></ion-icon>
            <span>{{st.route}}</span>
          </div>
        </div>
        <p class="destination">
          <span>{{st.headsign !== 'FINALIZANDO' && st.headsign !== 'FIN' ? 'a '+st.headsign : 'Finalizando'}}</span>
        </p>
      </div>
      <div class="options">
        <ion-button shape="round" fill="clear" size="small" [disabled]="st.tripStatus !== 'RUNNING'" (click)="getTripUpdate(st.trip)">
          <ion-icon name="open-outline" color="dark" size="small"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </ion-list>
  <div *ngIf="stopTimes.length === 0">
    <ion-title>
      Sin arribos de colectivos
    </ion-title>
  </div>
</ion-content>

