<ion-header>
  <ion-toolbar>
    <p>{{stopName}}</p>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let st of stopTimes">
      <ion-label class="item">
       <div>
        <div>Linea {{st.route}} </div>
        <div><span *ngIf="st.headsign !== 'FINALIZANDO' && st.headsign !== 'FIN'">a</span> {{st.headsign}}</div>
       </div>
        <div>{{st.arrivalTime}}</div>
      </ion-label>
     
    </ion-item>
  </ion-list>
  <div *ngIf="stopTimes.length === 0">
    <ion-title>
      Sin arribos de colectivos
    </ion-title>
  </div>
</ion-content>
