<ion-header>
  <ion-toolbar>
    <ion-title>{{ stopName  + " "+stopTimes.length}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let st of stopTimes">
      <ion-avatar slot="start">
        <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{st.route}}</h2>
        <p>{{st.arrivalTime}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="stopTimes.length === 0">
    <ion-title>
      Sin arribos de colectivos
    </ion-title>
  </div>
</ion-content>
